@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-weight: 400;
  padding: 20px;
  background-image: url("./images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 210px;
  width: 100%;
  height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark-mode {
  background-color: hsl(235, 21%, 11%);
  background-repeat: no-repeat;
  background-size: 100% 210px;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

#heading img {
  width: 25px;
  height: 25px;
}

h1 {
  letter-spacing: 10px;
  color: hsl(0, 0%, 98%);
  text-transform: uppercase;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  color: hsl(235, 19%, 35%);
}

body.dark-mode #items-left-container button:hover,
body.dark-mode #items-left-container-desktop button:hover,
body.dark-mode .filters button:hover,
body.dark-mode .filters-desktop button:hover {
  color: hsl(0, 0%, 98%);
}

#input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#enter-item {
  background-color: hsl(0, 0%, 100%);
  color: hsl(235, 19%, 35%);
  font-size: 18px;
  transition:
    background-color 0.3s,
    color 0.3s;
  line-height: 20px;
}

#input-field.dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 14%, 35%);
}

#enter-item.dark-mode {
  border-radius: 5px;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

#add-todo {
  --border-background: hsl(233, 11%, 84%);
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
}

#add-todo::before,
.check-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: var(--border-background);
  border-radius: inherit;
  pointer-events: none;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

body.dark-mode #add-todo {
  --border-background: hsl(237, 14%, 26%);
}

#add-todo:hover,
body.dark-mode #add-todo:hover {
  --border-background: linear-gradient(
    140deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

input {
  width: 100%;
  border: none;
  outline: none;
}

input::placeholder {
  color: hsl(236, 9%, 61%);
}

#todos {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

body.dark-mode #todos {
  background-color: hsl(235, 24%, 19%);
}

.todo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: hsl(235, 19%, 35%);
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark-mode .todo {
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 14%, 35%);
  border-bottom: 1px solid hsl(237, 14%, 26%);
}

.item-text {
  /* text-decoration: line-through; */
  color: hsl(235, 19%, 35%);
}

body.dark-mode .item-text {
  color: hsl(234, 39%, 85%);
  transition: color 0.3s;
}

.remove-icon {
  cursor: pointer;
}

.check-icon {
  --border-background: hsl(233, 11%, 84%);
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.check-icon img {
  position: relative;
  z-index: 1;
  width: 10px;
  display: none;
}

.todo.completed .check-icon {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo.completed .check-icon::before {
  background: transparent;
}

.todo.completed .check-icon img {
  display: block;
}

.todo.completed .item-text {
  color: hsl(236, 9%, 61%);
  text-decoration: line-through;
}

body.dark-mode .check-icon {
  --border-background: hsl(237, 14%, 26%);
}

.check-icon:hover,
body.dark-mode .check-icon:hover {
  --border-background: linear-gradient(
    140deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

#items-left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: hsl(236, 9%, 61%);
  border-radius: 0 0 5px 5px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 50px -15px hsl(233, 11%, 84%);
  margin-bottom: 15px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#items-left-container.dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 14%, 35%);
  box-shadow: 0px 5px 5px -15px hsl(237, 14%, 26%);
}

#items-left-container.dark-mode button,
#items-left-container-desktop.dark-mode button {
  color: hsl(233, 14%, 35%);
}

#items-left-container-desktop {
  display: none;
}

#items-left-container button {
  color: hsl(236, 9%, 61%);
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 35px 50px -15px hsl(233, 11%, 84%);
  margin-bottom: 15px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark-mode .filters {
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 14%, 35%);
  box-shadow: 0px 5px 5px -15px hsl(237, 14%, 26%);
}

body.dark-mode .filters-desktop {
  background-color: hsl(235, 24%, 19%);
  color: hsl(233, 14%, 35%);
}

body.dark-mode .filters button,
body.dark-mode .filters-desktop button {
  color: hsl(233, 14%, 35%);
}

.filters button {
  font-weight: 700;
  color: hsl(236, 9%, 61%);
  transition: color 0.3s;
}

.drag-instruction {
  text-align: center;
  color: hsl(236, 9%, 61%);
  padding: 20px;
  margin-top: 50px;
  transition: color 0.3s;
}

@media (min-width: 1000px) {
  * {
    font-size: 18px;
  }

  #heading {
    padding: 5px 0 60px 0;
  }

  h1 {
    font-size: 30px;
  }

  body {
    background-image: url("./images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: 100% 285px;
    padding: 70px 350px;
  }

  body.dark-mode {
    background-repeat: no-repeat;
    background-size: 100% 285px;
  }

  button {
    color: hsl(236, 9%, 61%);
  }

  #items-left-container {
    display: none;
  }

  #items-left-container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: hsl(236, 9%, 61%);
    border-radius: 0 0 5px 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 25px 150px -15px hsl(233, 11%, 84%);
    margin-bottom: 15px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  #items-left-container-desktop.dark-mode {
    background-color: hsl(235, 24%, 19%);
    color: hsl(233, 14%, 35%);
    box-shadow: 0px 5px 5px -15px hsl(237, 14%, 26%);
  }

  .filters {
    display: none;
  }

  .filters-desktop {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    transition:
      background-color 0.3s,
      color 0.3s;
  }
}
